main {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
main > h1 {
  flex: 0.5;
  background-color: red;
}
.flash-card {
  flex: 1;
  background-color: beige;
}

.recent-orders {
  flex: auto;
  background-color: blueviolet;
}
